@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
	text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header, .footer {
	display: flex;
	justify-content: space-between;
	padding: 14px;
}

.footer {
	background-color: hsl(24, 0%, 95%);
	margin-top: auto;
}

.left-links,
.right-links {
	display: flex;
	font-size: 14px;
	gap: 14px;
}

.content {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	gap: 14px;
	margin: auto auto;
}

.buttons > button {
	padding: 7px 14px;
	font-size: 14px;
}

li > a {
	color: hsl(24, 0%, 40%);
