.header  {
  font-family: "Times New Roman", serif;
  font-weight: 600;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
